*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 32px;
    text-transform: uppercase;
}
.wrapper{
    min-height: 100vh;
    width: 100%;
    background-color: #76BA99;
    display: grid;
    column-gap: 10px;
    grid-template-columns: 400fr 900fr;
    justify-content: space-between;
    padding: 10px;
}
/* add book */
.add-book{
    width: 400px;
    height: 300px;
    padding: 10px;
    background-color: #CA955C;
    border: 3px solid #876445;
    border-radius: 10px;
    padding: 10px;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

/* input text */
.input-list-container{
    height: 130px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.input-container{
    position: relative;
    width: 280px;
}
.text-input{
    width: 100%;
    height: 100%;
    border: 3px solid rgb(227, 161, 38);
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: all 0.3s;
    padding: 5px;
}
.label{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 7px;
    transition: all 0.2s;
    padding: 0 2px;
    color: rgb(92, 92, 92);
    font-size: 16px;
}
.label::before{
    content: " ";
    border-top: 3px solid white;
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    z-index: -1;
}

.text-input:focus{
    border: 3px solid #876445;
}
.text-input:focus + .label, .filled + .label{
    top: -10px;
    color: #69421f;
    font-size: 14px;
}
.text-input::placeholder{
    font-size: 14px;
    opacity: 0;
    transition: all 0.3s;
}
.text-input:focus::placeholder{
    opacity: 1;
}
/* sumbit btn */
.submit-btn-container{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.submit-btn{
    width: 200px;
    height: 35px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #876445;
    box-shadow: 0 5px  #876445;
    transition: all .3s ease;
    position: relative;
}
.submit-btn:hover{
    box-shadow: 0 3px  #876445;
    top: 1px;
}
.submit-btn:active{
    box-shadow: 0 0 #876445;
    top: 5px;
}
.submit-btn-readed{
    color: #ecb6a5;
    border: 3px solid #E09983;
}

.submit-btn-unread{
    color: #C1AF8B;
    border: 3px solid #C1AF8B;
}

.change-btn{
    font-size: 16px;
    display: grid;
    place-items: center;
    border: 3px solid #876445;
    color: #876445;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: all .3s ease;
    position: relative;
}
.change-btn-readed{
    background-color: #ecb6a5;
    box-shadow: 0 5px #ecb6a5, 0 5px 0 1px #876445;
}
.change-btn-readed:hover{
    box-shadow: 0 3px #ecb6a5;
    top: 1px;
}
.change-btn-readed:active{
    box-shadow: 0 0px #ecb6a5;
    top: 5px;
}
.change-btn-unread{
    background-color: #C1AF8B;
    box-shadow: 0 5px #C1AF8B;
}
.change-btn-unread:hover{
    box-shadow: 0 3px #C1AF8B;
    top: 1px;
}
.change-btn-unread:active{
    box-shadow: 0 0px #C1AF8B;
    top: 5px;
}
/* book list */
.book-container{
    width: 900px;
    min-height: 300vh;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
/* search bar */
.search-bar{
    width: 100%;
    height: 80px;
    background-color: #CA955C;
    border: 3px solid #876445;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.search{
    height: 40px;
    width: 600px;
    border-radius: 10px;
    border: 3px solid rgb(227, 161, 38);
    font-size: 18px;
    outline: none;
    padding: 5px;
}
.search:focus{
    border: 3px solid #876445;
}
.filled{
    border: 3px solid #876445;
}
.search-btn{
    font-size: 16px;
    display: grid;
    place-items: center;
    background-color: #876445;
    border: 3px solid #C1AF8B;
    color: #C1AF8B;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 5px  #876445;
    transition: all .3s ease;
    position: relative;
}
.search-btn:hover{
    box-shadow: 0 3px  #876445;
    top: 1px;
}
.search-btn:active{
    box-shadow: 0 0 #876445;
    top: 5px;
}
/* unread book */
.unread-book{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    padding: 10px;
    background-color: #CA955C;
    border: 3px solid #876445;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* readed book */
.readed-book{
    width: 100%;
    height: 250px;
    margin-top: 10px;
    padding: 10px;
    background-color: #CA955C;
    border: 3px solid #876445;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

